<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url(http://res.cloudinary.com/dkalpv2xf/image/upload/v1502718495/Projet/ice-cream-truck_4460x4460.jpg);">
	<div class="row">
		<div class="col-xs-12">
			<div class="banner-content">
				<h1> Travaille sur ton lieu de vacances </h1>
				<p>Trouve un job d'été selon tes disponibilités</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class = "form" class="form-inline">
					<form action="<%= jobs_path %>">
						<div class="form-group">
						<!-- 	<label for="Location"> Votre ville</label> -->
							<input name="location" type="text" id="location" placeholder="Ton lieu de vacances">
						<!-- </div>
						<div class="form-group"> -->
						<!-- 	<label for="Date"> Vos disponibilites </label> -->
							<input name="start_date" type="text" id= "start_date" placeholder="A partir du" class="datepicker">
							<input name="end_date" type="text" id= "end_date" placeholder="jusqu'au" class="datepicker"	)">
						</div>
						<div id="form-group-button">
							<input type="submit" value="Rechercher" class="btn btn-danger">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="jobs-examples">
		<div class="row">
			<div class="jobs-example-1">
				<div class="jobs-examples-category">
					<h2>Derniers jobs mis en ligne</h2>
				</div>
				<div class="row">
					<div class="jobs-examples-category-cards">
						<% @jobs.each do |job| %>
							<%= render 'jobcard', job: job %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<% content_for(:js) do %>
  <%= javascript_tag do  %>
    let rotateCards = () => {
      var cards = document.querySelectorAll(".card");
      cards.forEach((card) => {
        TweenLite.set(".card", {perspective:800});
        TweenLite.set(".card-main", {transformStyle:"preserve-3d"});
        TweenLite.set(".back", {rotationY:-180});
        TweenLite.set([".back", ".front"], {backfaceVisibility:"hidden"});
        $(".card").hover(
          function() {
            TweenLite.to($(this).find(".card-main"), 1.2, {rotationY:180, ease:Back.easeOut});
          },
          function() {
            TweenLite.to($(this).find(".card-main"), 1.2, {rotationY:0, ease:Back.easeOut});
          }
        );
      });
    };

    rotateCards();
  <% end %>
<% end %>
