<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url(http://res.cloudinary.com/dkalpv2xf/image/upload/v1502718495/Projet/ice-cream-truck_4460x4460.jpg);">
	<div class="row">
		<div class="col-xs-12">
			<div class="banner-content">
				<h1> Travaillez sur votre lieu de vacances </h1>
				<p> Trouvez un job saisonnier selon vos disponibilites </p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class = "form" class="form-inline">
					<form action="<%= jobs_path %>">
						<div class="form-group">
						<!-- 	<label for="Location"> Votre ville</label> -->
							<input name="location" type="text" id="location" placeholder="Votre destination">
						<!-- </div>
						<div class="form-group"> -->
						<!-- 	<label for="Date"> Vos disponibilites </label> -->
							<input name="start_date" type="text" id= "start_date" placeholder="Disponible a partir du" onfocus="(this.type='date')">
							<input name="end_date" type="text" id= "end_date" placeholder="jusqu'au" onfocus="(this.type='date')">
						</div>
						<div id="form-group-button">
							<input type="submit" value="Recherchez" class="btn btn-danger">
						</div>
					</form>
				</div>
			</div>
		</div>		
	</div>
</div>

<div class="container">
	<div class="jobs-examples">
		<div class="row">
			<div class="jobs-examples-category">
				<h3>Derniers jobs mis en ligne</h3>
			</div>
		</div>
		<div class="row">
			<div class="jobs-examples-category-cards">
				<% @jobs.each do |job| %>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<%= render 'jobcard', job: job %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>
