.devise-links-session {
  display: inline-block;
  margin-top: 0.5em;
}

.devise-links {
  cursor: pointer;
  font-size: 14px;
  color: $brand-primary;
}

.devise-links:hover {
  text-decoration: none;
}

