.devise-links-session {
  display: inline-block;
  margin-top: 0.5em;
}

.devise-links {
  cursor: pointer;
  font-size: 14px;
  color: $brand-primary;
}

.devise-links:hover {
  text-decoration: none;
}

.criteria h3 {
  font-size: 16px;
}

.criteria li {
  font-size: 12px;
}

.collapse {
  height: 0;
  overflow: hidden;
}

.filter-form {
  padding: 20px 5px;
}
// .layout-map, #map, #filter {
//   transition: all 3s !important;
// }
