#map {
  /*width: 30%;*/
  height: 100vh;
  position: sticky !important;
  top: 0px !important;
  width: 100%;
}

// .index-page {
//   height: 100%;
// }

.layout-main {
  display: flex;
  align-items: stretch;
}
.layout-cards {
  /*flex-grow: 1;
  flex-shrink: 1;*/
  margin: 10px;
}
.layout-results {
  flex: 0 0 60%;
}

.layout-map {
  /*flex-basis: 300px;*/
  /*width: 400px;*/
  flex: 0 0 40%;
}

.collapse {
  height: 0;
  overflow: hidden;
}

// .deploy {
//   height: 100vh !important;
//   width: 100% !important;
//   overflow: visible !important;
// }

.filter-form {
  text-align: left;
  padding: 20px;
  label, input {
    font-size: 14px;
    margin: auto 5px;
  }
  .first-label-half {
    width: 100px;
  }
  .first-label {
    flex: 0 0 100px;
  }
  .filter-line {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .filter-half {
    flex: 0 0 50%
  }
  .form-group {
    font-size: 14px;
    margin-bottom: 1em;
  }
}



@media (max-width: 600px) {
  .layout-main {
    flex-direction: column;
  }
}
