/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.tableau {
  width: 100%;
}

.pending-counter {
  font-size: 15px;
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-left: 30px;
}

.title-accordion {
  display: flex;
  text-align: center;
}

.flexbox-dashboard-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

